* {
  font-family: helvetica, arial, freesans, clean, sans-serif;
}

body {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  padding: 20px;
  color: #000;
  line-height: 1.6;
}

p {
  font-size: 14px;
  line-height: 19px;
}

pre, code, tt {
  font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 13px;
  color: #000;
  line-height: 19px;
  overflow: auto;
}

pre a {
  font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 13px;
  color: #000;
  text-decoration: none;
}

body > h2:first-child, body > h1:first-child, body > h1:first-child + h2, 
body > h3:first-child, body > h4:first-child, body > h5:first-child, 
body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

body ul, body ol {
  padding-left: 10px;
  font-size: 14px;
}

li {
  font-size: 14px;
}

h1, h2, h3, h4,h5, h6 {
  font-family: helvetica, arial, freesans, clean, sans-serif;
  margin: 20px 0 10px;
  border-bottom: 1px solid #ccc;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 28px;
  border-bottom: none;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}